.nav-container {
    width: 100%;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    justify-content: flex-end; /* Aligns the items to the right */
}

.nav-menu .nav-item {
    float: left;
    padding: 10px;  /* Adjust as needed */
}

.nav-menu .nav-item a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    border-bottom: 1px solid transparent;
}

.nav-menu .nav-item a:hover {
    /* background-color: #111; */
    border-bottom: 1px solid white;
}

.hamburger {
    display: none;
    /* background-color: #333; */
    color: white;
    text-align: center;
    /* padding: 1em 1em; */
    text-decoration: none;
    cursor: pointer;
    font-family: arial;
    font-size: 30px;
    letter-spacing: 2px;
    transform: rotate(90deg);
    position: fixed;
    right: 30px;
    top: 30px;

}

@media screen and (max-width: 600px) {
    .nav-menu .nav-item { 
        display: none; 
    }
    .hamburger { 
        display: block; 
    }
    .nav-menu {
        flex-direction: column;
        display: none;
    }
}
