.nav-container {
    width: 100%;
}

.nav-menu {
    position: fixed;
    top: 30px;
    right: 30px;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    background-color: #333;
    display: none;  /* Make the nav-menu not visible by default */
    flex-direction: column;
}

.nav-menu .nav-item {
    background-color: aquamarine;
    float: left;
    padding: 10px;  
}

.nav-menu .nav-item a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    border-bottom: 1px solid transparent;
}

.nav-menu .nav-item a:hover {
    /* background-color: #111; */
    border-bottom: 1px solid white;
}

.hamburger {
    display: none;
    /* background-color: #333; */
    color: white;
    text-align: center;
    /* padding: 1em 1em; */
    text-decoration: none;
    cursor: pointer;
    font-family: arial;
    font-size: 30px;
    letter-spacing: 2px;
    transform: rotate(90deg);
    position: fixed;
    right: 30px;
    top: 30px;
}

@media screen and (max-width: 600px) {
    .nav-menu .nav-item { 
        display: block; /* Show menu items in mobile view */
    }
    .hamburger { 
        display: block; /* Show hamburger icon in mobile view */
    }
}


.burger-menu.active {
    /* Styles when burger menu is active. */
    
}

.nav-menu.active {
    /* Styles when nav menu is active. */
    display: flex; /* Make the nav-menu visible when it's active */
}
